/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("/assets/Inter.ttf") format("truetype");
}

:root {
    /* Base */
    --color-background: #0B0C10;
    --color-secondary: #1F2833;
    --color-card: #C5C6C7;

    /* Identidad */
    --color-primary: #66FCF1;
    --color-accent: #45A29E;

    /* Texto */
    --text-color: #FFFFFF;

    color: var(--text-color);
}

.body {
    font-family: "Inter";
    margin: 0px;
}